---
layout: layouts/home.njk
title: Рассказы С.&nbsp;А.&nbsp;Вострилова
permalink: /stories/
eleventyNavigation:
  key: Рассказы
  order: 1
---

<h1>Рассказы</h1>

<p>Люблю читать произведения <nobr>А. П. Чехова</nobr> и&nbsp;<nobr>С. Д. Довлатова</nobr>. Оба замечательные рассказчики. В&nbsp;своём творчестве хочется быть похожим именно на&nbsp;них.</p>

{% set postslist = collections.stories %}
{% include "postslist.njk" %}
