<ul class="ancestrylist">
{% for item in postslist %}
  <li class="ancestrylist-item{% if item.url == url %} ancestrylist-item-active{% endif %}">
    <a href="{{ item.url | url }}" class="postlist-link">{% if item.data.title %}{{ item.data.title }}{% else %}<code>{{ item.url }}</code>{% endif %}{% if item.data.part %}. Часть&nbsp;{{ item.data.part }}{% endif %}</a>
    <div class="postlist-item-description">
    {% excerpt item %}
    </div>
  </li>
{% endfor %}
</ul>
