<ul class="list-unstyled">
    <li>
        <p>
            <strong>История семьи</strong>
        </p>
        <ul>
            <li>
                Анатолий Вострилов,
                <br />&laquo;<a href="{{ site.baseurl }}ancestry/2016-04-18-ancestry01.html"><strong>Моя родословная</strong></a>&raquo;
            </li>
            <li><a href="{{  site.baseurl }}legends/" title="Предания, легенды, байки">Предания, легенды, байки</a></li>
            <li>Моя семья (Очерк)</li>
        </ul>
    </li>
    <li>
        <p>
            <strong>Библиотека</strong>
        </p>
        <ul>
            <li>Книги А.&nbsp;В.&nbsp;Вострилова</li>
            <li>Публикации об&nbsp;А.&nbsp;В.&nbsp;Вострилове</li>
            <li>Другие публикации</li>
        </ul>
    </li>
    <li>
        <p>
            <strong><a href="{{ site.baseurl }}gallery/" title="Фотогалерея">Фотогалерея</a></strong>
        </p>
    </li>
    <li>
        <p>
            <strong>Кинозал</strong>
        </p>
        <ul>
            <li>Фильмы продюсера, сценариста, журналиста С.&nbsp;А.&nbsp;Вострилова</li>
            <li>Хроника разных лет</li>
            <li>Видеосюжеты М.&nbsp;Дубовой</li>
            <li>Разное видео</li>
        </ul>
    </li>
    <li>
        <p>
            <strong>Блог</strong>
        </p>
        <ul>
            <li><a href="{{ site.baseurl }}blog/">Дневник С.&nbsp;А.&nbsp;Вострилова</a></li>
            <li>Цитатник</li>
        </ul>
    </li>
    <li>
        <p>
            <strong>Персонально</strong>
        </p>
    </li>
    <li>
        <p>
            <strong>Друзья семьи</strong>
        </p>
    </li>
</ul>
