<ul class="list-unstyled">
    <li>
        <p>
            <strong>История семьи</strong>
        </p>
        <ul>
            <li>
                Анатолий Вострилов,
                <br />&laquo;<a href="{{ site.base_url }}ancestry/2016-04-18-ancestry01.html"><strong>Моя родословная</strong></a>&raquo;
            </li>
            <li><a href="{{  site.base_url }}legends/" title="Предания, легенды, байки">Предания, легенды, байки</a></li>
            <li><a href="{{ site.base_url }}pages/s-vostrilov-family.html" title="Моя семья (Очерк)">Моя семья (Очерк)</a></li>
        </ul>
    </li>
    <li>
        <p>
            <strong>Библиотека</strong>
        </p>
        <ul>
            <li><a href="{{ site.base_url }}pages/a_v_vostrilov_-_na_rayonnjh_dorogah.html" title="«На районных дорогах», А. В. Вострилов">«На районных дорогах» А.&nbsp;В.&nbsp;Вострилов</a></li>
            <li><a href="{{ site.base_url }}pages/a_v_vostrilov_-_zvezdj_nad_polyami.html" title="«Звёзды над полями», А. В. Вострилов">«Звёзды над полями» А.&nbsp;В.&nbsp;Вострилов</a></li>
            <li><a href="{{ site.base_url }}pages/a_v_vostrilov_-_utoli_moya_pechali.html" title="«Утоли моя печали», А. В. Вострилов">«Утоли моя печали» А.&nbsp;В.&nbsp;Вострилов</a></li>
            <li><a href="{{ site.base_url }}pages/a_v_vostrilov_-_otcovskiy_uzelok.html" title="«Отцовский узелок», А. В. Вострилов">«Отцовский узелок» А.&nbsp;В.&nbsp;Вострилов</a></li>
            <li><a href="{{ site.base_url }}pages/a-vostrilov-public.html" ttitle="Публикации об А. В. Вострилове">Публикации об&nbsp;А.&nbsp;В.&nbsp;Вострилове</a></li>
            <li><a href="{{ site.base_url }}pages/vostrilov-various.html" title="Другие публикации">Другие публикации</a></li>
        </ul>
    </li>
    <li>
        <p>
            <strong><a href="{{ site.base_url }}gallery/" title="Фотогалерея">Фотогалерея</a></strong>
        </p>
    </li>
    <li>
        <p>
            <strong>Кинозал</strong>
        </p>
        <ul>
            <li><a href="{{ site.base_url }}pages/s-vostrilov-movies.html" ttitle="Фильмы продюсера, сценариста, журналиста С.&nbsp;А.&nbsp;Вострилова">Фильмы продюсера, сценариста, журналиста С.&nbsp;А.&nbsp;Вострилова</a></li>
            <li><a href="{{ site.base_url }}pages/s-vostrilov-chronicle.html" title="Хроника разных лет">Хроника разных лет</a></li>
            <li><a href="{{ site.base_url }}pages/m-dubova-videos.html" title="Материалы М.&nbsp;Дубовой">Материалы М.&nbsp;Дубовой</a></li>
            <li><a href="{{ site.base_url }}pages/videos-various.html" title="Разное видео">Разное видео</a></li>
        </ul>
    </li>
    <li>
        <p>
            <strong>Блог</strong>
        </p>
        <ul>
            <li><a href="{{ site.base_url }}blog/">Дневник С.&nbsp;А.&nbsp;Вострилова</a></li>
            <li><a href="{{ site.base_url }}pages/cites.html" title="Цитатник">Цитатник</a></li>
        </ul>
    </li>
    <li>
        <p>
            <strong><a href="{{ site.base_url }}pages/personal.html" title="Персонально">Персонально</a></strong>
        </p>
    </li>
    <li>
        <p>
            <strong><a href="{{ site.base_url }}pages/friends.html" title="Друзья семьи">Друзья семьи</a></strong>
        </p>
    </li>
</ul>
