:root {
  --accent: #bd4f37;
  --darkgray: #333;
  --white: #fff;
  --olive: #3c4f48;
  --olive-active: #465c54;
  --olive-light: #acbbac;
  --olive-black: #27332e;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}
.postlist-item-description {
  margin-left: 1.25rem;
  font-size: 0.85em;
}

/* Tags */
.post-tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--accent);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: var(--white);
}

/* cocteau */
body {
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "top top"
    "left right"
    "bot bot";
  background: url("/assets/img/1505336e.jpg") no-repeat 50% -200px;
}

@media (max-width: 40rem) {
  body {
    grid-template-rows: 50px min-content auto 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "left"
      "right"
      "bot";
    background-position-x: -150px;
    background-position-y: -215px;
  }
}

@media (min-width: 60rem) {
  body {
    max-width: 60rem;
    margin: 0 auto;
  }
}

@media (min-width: 120rem) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

body > header {
  grid-area: top;
}
body > nav {
  grid-area: left;
  padding: 0 1rem;
}
body > main {
  grid-area: right;
}
body > footer {
  grid-area: bot;
}

body > main {
  padding-top: 6rem;
}
@media (max-width: 40rem) {
  body > main {
    padding-top: 0;
  }
}

ul {
  padding-left: 1rem;
}
li {
  white-space: normal !important;
  margin-bottom: 0.25rem;
}
li.my-active-class > a {
  font-weight: 700;
}

.home {
  padding: 0.5rem 1rem 0;
  float: none;
  margin: 1rem 0;
  text-align: right;
  width: 100%;
}

.home h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.home p {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}

@media (min-width: 120rem) {
  .home {
    padding-right: 9rem;
  }
}

body > footer {
  padding: 1rem;
  border-top: 1px solid var(--olive-light);
}

@media (min-width: 120rem) {
  body > footer {
    padding: 1rem 9rem;
  }
}

body > footer .email {
  text-align: right;
}

img.me {
  width: 100%;
  max-width: 10em;
  border-radius: 50%;
  box-shadow: #fff 0px 0px 4px, var(--olive) 2px 5px 25px;
}

div.nanogallery-container {
  width: 99%;
  overflow-x: hidden;
}

a {
  color: var(--olive);
}
a:focus,
a:visited,
a:hover {
  color: var(--olive-active);
}

time {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--olive-black);
}

main p img {
  max-width: 88%;
  margin: 0.5rem auto;
  box-shadow: 0 0 0 7px var(--white), 0px 0 0 8px var(--olive-light);
  display: block;
}

label[for="nav-toggle"] {
  display: none;
}
label[for="nav-toggle"] img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
label[for="nav-toggle"] ~ input {
  display: none;
}

@media (max-width: 40rem) {
  label[for="nav-toggle"] {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--olive-light);
    border-bottom: 1px solid var(--olive-light);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }
  label[for="nav-toggle"] ~ input:not(:checked) ~ ul {
    display: none;
  }
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width:  100%;
  height: auto;
  position: relative;
  padding: calc(1vw + 3rem);
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 378 373' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.452 2.821l-3.171 367.05c125.311 2.569 250.666 2.673 376.055.905l.84-370.289c-124.617-.622-249.191.172-373.724 2.334z' fill='url(%23a)' /%3E%3Cdefs%3E%3ClinearGradient id='a' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(377.176 -.281 .281 377.176 .281 .281)'%3E%3Cstop offset='0' stop-color='%23efeff3' /%3E%3Cstop offset='1' stop-color='%23fff' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") center / cover no-repeat;
}

figure:before, 
figure:after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

figure:before {
  filter: blur(24px);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .1) 80%);
  transform: skew(-7deg, -6deg) translate(0);
  opacity: 0.75;
}

figure:after {
  filter: blur(2px);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: rgba(0, 0, 0, .25);
  transform: skew(.75deg, 1deg) translate(-1px, -8px);
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  vertical-align: middle;
}

figure figcaption {
  font-size: 0.85em;
  padding: 1rem 0;
}
