:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
/* a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
} */
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* cocteau */
body {
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "top top"
    "left right"
    "bot bot";
  background: url("/assets/img/1505336e.jpg") no-repeat 50% -200px;
}

@media (max-width: 40rem) {
  body {
    grid-template-rows: 50px auto auto 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "left"
      "right"
      "bot";
    background-position-x: -150px;
    background-position-y: -215px;
  }
}

@media (min-width: 60rem) {
  body {
    max-width: 60rem;
    margin: 0 auto;
  }
}

@media (min-width: 120rem) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

body > header {
  grid-area: top;
}
body > nav {
  grid-area: left;
  padding: 0 1rem;
}
body > main {
  grid-area: right;
}
body > footer {
  grid-area: bot;
}

body > main {
  padding-top: 6rem;
}
@media (max-width: 40rem) {
  body > main {
    padding-top: 0;
  }
}

ul {
  padding-left: 1rem;
}
li {
  white-space: normal !important;
  margin-bottom: 0.25rem;
}
li.my-active-class > a {
  font-weight: 700;
}

.home {
  padding: 0.5rem 2rem 0 1em;
  float: none;
  margin: 1rem 0;
  text-align: right;
  width: 100%;
}

.home h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.home p {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}

@media (min-width: 120rem) {
  .home {
    padding-right: 9rem;
  }
}

body > footer {
  padding: 1rem;
  border-top: 1px solid #acbbac;
}

@media (min-width: 120rem) {
  body > footer {
    padding: 1rem 9rem;
  }
}

body > footer .email {
  text-align: right;
}

img.me {
  width: 100%;
  max-width: 10em;
  border-radius: 50%;
  box-shadow: #fff 0px 0px 4px, #888 2px 5px 25px;
}

div.nanogallery-container {
  width: 99%;
  overflow-x: hidden;
}

a {
  color: #3c4f48;
}
a:focus,
a:visited,
a:hover {
  color: #465c54;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #27332e;
}

label[for="nav-toggle"] {
  display: none;
}
label[for="nav-toggle"] img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
label[for="nav-toggle"] ~ input {
  display: none;
}

@media (max-width: 40rem) {
  label[for="nav-toggle"] {
    display: flex;
    align-items: center;
    border-top: 1px solid #acbbac;
    border-bottom: 1px solid #acbbac;
    padding: 0.5rem 0;
  }
  label[for="nav-toggle"] ~ input:not(:checked) ~ ul {
    display: none;
  }
}
