--- layout: blog
title: 'Блог'
---

{% for post in paginator.posts %}{% unless post.tag contains 'ancestry' %}
<p class="author">
    {% include dateformat.html %}
</p>
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<div class="content">
    {{ post.excerpt }}
</div>{% endunless %} {% endfor %}

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Позднее</a> {% else %}
    <span class="previous">Позднее</span> {% endif %}
    <span class="page_number ">страница {{ paginator.page }} из {{ paginator.total_pages }}</span> {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Ранее</a> {% else %}
    <span class="next ">Ранее</span> {% endif %}
</div>
