{% include head.html %}

<body>
    <div class="container">
        <div class="page-header">
            <label for="toggleMenu" class="fa fa-navicon btn-lg pointer navbutton">&nbsp;Меню</label>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" id="toggleMenu" checked />


                <header class="toglled">
                    <a href="{{ site.baseurl }}">
                        <img src="{{ site.baseurl }}assets/images/sergei.vostrilov.png" alt="Сергей Вострилов" class="img-responsive img-circle me shadow" />
                        <h1 class="p-f-t">{{ site.name }}</h1>
                    </a>
                    <p>
                        {{ site.description }}
                    </p>
                    <p class="small">
                        <i>про&nbsp;Востриловых, живших до&nbsp;меня,<br />
                  про&nbsp;мою семью,<br />
                  про&nbsp;Востриловых, которые будут жить после&nbsp;меня</i>
                    </p>
                </header>

                <nav class="toglled">
                    {% include navigation.html %}
                </nav>

            </div>

            <div class="col-md-8">
                <article>
                    <p>
                        {% assign post = page %} {% include dateformat.html %}
                    </p>
                    <h1>{{ page.title }}</h1> {{ content }}

                    <a href="{{ site.url }}{{ page.url }}#disqus_thread"></a>.
                </article>

                {% if page.next %} {% assign post = page.next %}
                <hr />
                <div class="row">
                    <div class="col-sm-9 col-sm-push-3">
                        <p>
                            Читайте далее:
                        </p>
                        <h3>
                            <a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}</a>
                        </h3>
                        <p>
                            {% include dateformat.html %}
                        </p>
                        {{ post.excerpt }}
                    </div>
                </div>
                {% endif %}

                <hr />


                <div id="disqus_thread" data-url="{{ site.url }}{{ page.url }}" data-id="{{ page.url }}"></div>
                <script>
                    $('a[href*=disqus_thread]').on('chanhe', function(e){
                        alert(this);
                    });
                    var disqus_config = function() {
                        this.language = "ru";
                        this.page.url = $('#disqus_thread').attr('data-url');
                        this.page.identifier = $('#disqus_thread').attr('data-id');
                    };
                    (function() {
                        var d = document,
                            s = d.createElement('script');
                        s.src = '//vostrilovname.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Включите Javascript для правильной работы комментариев <a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus.</a></noscript>


            </div>
        </div>

        <footer class="footer">
            <p>
                <small><a href="{{ site.email_full }}">{{ site.email }}</a></small>
                <br />
            </p>
        </footer>
    </div>


    {% include footerscripts.html %}
    <script id="dsq-count-scr" src="//vostrilovname.disqus.com/count.js" async></script>

</body>

</html>
