{% include head.html %}

<body>
    <div class="container">
        <div class="page-header">
            <label for="toggleMenu" class="fa fa-navicon btn-lg pointer navbutton">&nbsp;Меню</label>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" id="toggleMenu" checked />


                <header class="toglled">
                    {% include melarge.html %}
                </header>

                <nav class="toglled">
                    {% include navigation.html %}
                </nav>

            </div>

            <div class="col-md-8">
                <div>
                    {{ content }}
                </div>
            </div>
        </div>

        <footer class="footer">
            <p>
                <small><a href="{{ site.email_full }}">{{ site.email }}</a></small>
                <br />
            </p>
        </footer>
    </div>


    {% include footerscripts.html %}
    <script id="dsq-count-scr" src="//vostrilovname.disqus.com/count.js" async></script>
</body>

</html>
