{% include head.html %}

<body>
    <div class="container">
        <div class="page-header">
            <label for="toggleMenu" class="fa fa-navicon btn-lg pointer navbutton">&nbsp;Меню</label>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="checkbox" id="toggleMenu" checked />


                <header class="toglled">
                    {% include melarge.html %}
                </header>

                <nav class="toglled">
                    {% include navigation.html %}
                </nav>

            </div>

            <div class="col-md-8">
                <h1>{{ page.title }}</h1>
                <div>
                    {{ content }}
                </div>
            </div>

        </div>
        <footer class="footer">
            <p>
                <small><a href="{{ site.email_full }}">{{ site.email }}</a></small>
                <br />
            </p>
        </footer>
    </div>


    {% include footerscripts.html %}
    <script type='text/javascript' src='{{ site.base_url }}assets/gallery/js/unitegallery.min.js'></script>
    <script type='text/javascript' src='{{ site.base_url }}assets/gallery/themes/tiles/ug-theme-tiles.js'></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {

            jQuery("[id^=gallery]").unitegallery({
                gallery_width: "960",
                tile_enable_border: true,
                tile_border_color: "#ffffff",
                tile_enable_outline: true,
                tile_outline_color: "#b6b6b6",
                tile_shadow_color: "#8B8B8B",
                tile_overlay_opacity: 0.6,
                tile_enable_image_effect: true,
                tile_image_effect_type: "blur",
                tile_image_effect_reverse: true,
                tile_enable_textpanel: true,
                tile_textpanel_bg_color: "#332e68",
                tile_textpanel_bg_opacity: 0.9,
                tile_textpanel_title_text_align: "center",
                lightbox_textpanel_enable_title: false,
                lightbox_textpanel_enable_description: true,
                lightbox_textpanel_desc_color: "e5e5e5",
                tiles_col_width: 200,
                tiles_space_between_cols: 30,
                tile_show_link_icon: true
            });

        });
    </script>
</body>

</html>
