{% include head.html %}

<body>
    <div class="container">
        <header class="row page-header">

            <div class="col-sm-6 center-block">
                {% include mesmall.html %}
            </div>
        </header>
        <div class="row">
            <div class="col-sm-3">

                <div class="visible-xs-block" style="margin: .5em 0">
                    <label for="toggleMenu" class="fa fa-navicon btn-lg pointer">&nbsp;Оглавление</label>
                </div>
                <p>Предания, легенды, байки</p>
                <input type="checkbox" id="toggleMenu" checked />
                <nav>
                    <ul class="list-unstyled">
                        <li>
                            <ul>
                                {% include legendsnav.html %}
                            </ul>
                        </li>
                    </ul>
                </nav>
                <ul class="list-unstyled hidden-xs">
                    <li>
                        <ul>
                            {% include legendsnav.html %}
                        </ul>
                    </li>
                </ul>
            </div>
            <article class="col-sm-9">
                {{ content }}
            </article>
        </div>

        <footer>
            <p>
                <small><a href="{{ site.email_full }}">{{ site.email }}</a></small>
                <br />
            </p>
        </footer>
    </div>

    {% include footerscripts.html %}

</body>

</html>
