---
layout: layouts/home.njk
title: Анатолий Вострилов, «Моя родословная»
permalink: /ancestry/
eleventyNavigation:
  key: Анатолий Вострилов, «Моя родословная»
  parent: История семьи
  order: 0
---

<h1>Анатолий Вострилов, «Моя родословная»</h1>

{% set postslist = collections.ancestry %}
{% include "ancestrylist.njk" %}
