---
layout: layouts/home.njk
title: Рассказы С.&nbsp;А.&nbsp;Вострилова
permalink: /stories/
eleventyNavigation:
  key: Рассказы
  order: 1
---

<h1>Рассказы</h1>

{% set postslist = collections.stories %}
{% include "postslist.njk" %}
